.container{
    background-color: #e0e8f0;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.homeButton{
    width: 4em;
    margin: 30% 90%;
}
.homeButton:hover{
    opacity: 0.5;
}

.listContainer{
    display: flex;
    align-items:center;
}

.listItem{
    text-decoration:none;
    color: black;
    list-style: none;
    white-space: nowrap;
    margin-right: 3em;
    background-color: #51cbce;
    border-radius: 20px;
    width: 10em;

}